.pages {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .normal {
        width: 36px;
        height: 36px;
        border: 1px solid #4F4F4F;
        box-sizing: border-box;
        border-radius: 4px;    
        display: flex;
        align-items: center;
        justify-content: center;
            p {
                width: 7px;
                height: 14px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #4F4F4F;    
            }
    }

    .actual {
        width: 36px;
        height: 36px;
        background: #2F80ED;
        border: 1px solid #2F80ED;
        box-sizing: border-box;
        border-radius: 4px; 
        display: flex;
        align-items: center;
        justify-content: center;
            p {
                width: 7px;
                height: 14px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: #FFFFFF;    
            }
    }

    .next {
        width: 36px;
        height: 36px;
        border: 1px solid #2F80ED;
        box-sizing: border-box;
        border-radius: 4px; 
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
            p {
                width: 7px;
                height: 14px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;                
                color: #2F80ED;    
            }
        svg {
            position: absolute;
            left: 15px;
            top: 20px;
        }
    }
    
    .suspensivos {
        display: flex;
        align-items: center;
        justify-content: center;   
    }


}