
.hobbies {
    width: 355px;
    height: 662px;
    -webkit-box-shadow: -1px 1px 12px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 12px 7px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 12px 7px rgba(0,0,0,0.75);
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 12px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

        .hobbies-tittle {
            width: 240px;
            height: 29px;
            margin-left: 13px;
            margin-top: 10px;
                h2 {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #4F4F4F;  
                }
        }

        .hobbies-image {
            width: 341px;
            height: 139px;
            border-radius: 12px;    

                img {
                    width: 100%;
                    padding-left: 13px;
                }

        }

        .hobbie-action {
            width: 74.19px;
            height: 22px;
            margin-left: 13px;
                h3 {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #333333;        
                }
        }

        .hobbie-description {
            width: 391px;
            height: 20px;  
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #828282;   
            margin-left: 13px; 
            
        }
}

@media (min-width: 768px ) {
    
    .hobbies {
        width: 413px;
        height: 836px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }    

}