
@media (min-width: 768px) {
.grid-page {
    display: grid;
    grid-template-columns: 500px 370px 496px;
    grid-template-rows:  350px 400px 100px 330px 250px; 
        
        .infop {
            align-self: start;
            grid-column: 1/2;  
            grid-row: 1/3; 
            margin: 0;
        }

        .gallery {
            grid-column: 2/3;
            grid-row: 2/3;
            align-self: end;
        }
        
        .skills {
            align-self: center;
            align-self: start;
        }

        .skills-design { 
            align-self: start;
            justify-self: end;
        }

        .gallery-grid {
            grid-row: 3/5;
            align-self: center;
        }

        .gallery-checkout {
            grid-row: 5/6;
            align-self: start;
        }

        .experiencies {
            grid-column: 1/2;
            grid-row: 3/5;
            align-self: start;
            margin: 0
        }
}

}