*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  body {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.infop {
  width: 355px;
  height: 662px;
  -webkit-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 12px;
}
.infop .infop-photo img {
  width: 321px;
  height: 343px;
  margin-right: 13px;
  margin-top: 13px;
  margin-left: 13px;
  margin-bottom: 20px;
  border-radius: 12px;
}
.infop .infop-info h2 {
  width: 386px;
  height: 30.32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 29px;
  color: #4F4F4F;
  margin-left: 13px;
  gap: 10px;
}
.infop .infop-info h3 {
  width: 196.57px;
  height: 23px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #828282;
  margin-left: 13px;
  margin-bottom: 20px;
}
.infop .infop-contacto h3 {
  width: 187px;
  height: 23px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4F4F4F;
  margin-bottom: 20px;
}
.infop .infop-contacto .infop-correo,
.infop .infop-contacto .infop-phone {
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 10px;
  row-gap: 10px;
}
.infop .infop-contacto .infop-correo .email,
.infop .infop-contacto .infop-correo .phone,
.infop .infop-contacto .infop-phone .email,
.infop .infop-contacto .infop-phone .phone {
  grid-column: 2/3;
}
.infop .infop-contacto .infop-correo .svg,
.infop .infop-contacto .infop-correo .svg1,
.infop .infop-contacto .infop-phone .svg,
.infop .infop-contacto .infop-phone .svg1 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 13px;
}
.infop .infop-description {
  width: 321px;
  height: 343px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  margin-left: 13px;
  margin-right: 13px;
}

@media (min-width: 768px) {
  .infop {
    width: 413px;
    height: 692px;
    -webkit-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
    margin-left: 30px;
    margin-top: 30px;
  }
  .infop .infop-photo img {
    width: 386px;
    height: 358px;
    margin-top: 13px;
    margin-left: 13px;
    margin-bottom: 20px;
  }
  .infop .infop-info h2 {
    width: 386px;
    height: 30.32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 29px;
    color: #4F4F4F;
    margin-left: 13px;
    gap: 10px;
  }
  .infop .infop-info h3 {
    width: 196.57px;
    height: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #828282;
    margin-left: 13px;
    margin-bottom: 20px;
  }
  .infop .infop-contacto h3 {
    width: 187px;
    height: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F;
    margin-bottom: 20px;
  }
  .infop .infop-contacto .infop-correo,
.infop .infop-contacto .infop-phone {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 10px;
    row-gap: 10px;
  }
  .infop .infop-contacto .infop-correo .email,
.infop .infop-contacto .infop-correo .phone,
.infop .infop-contacto .infop-phone .email,
.infop .infop-contacto .infop-phone .phone {
    grid-column: 2/3;
  }
  .infop .infop-contacto .infop-correo .svg,
.infop .infop-contacto .infop-correo .svg1,
.infop .infop-contacto .infop-phone .svg,
.infop .infop-contacto .infop-phone .svg1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 13px;
  }
  .infop .infop-description {
    width: 385px;
    height: 69.01px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    margin-left: 13px;
  }
}
.gallery {
  width: 355px;
  height: 662px;
  -webkit-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 12px;
  margin-top: 50px;
}
.gallery .gallery-image img {
  width: 321px;
  height: 343px;
  border-radius: 12px;
  margin-top: 33px;
  margin-left: 13px;
  margin-right: 13px;
}
.gallery .gallery-technology {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 23px;
}
.gallery .gallery-technology p {
  width: 99px;
  height: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.gallery .gallery-tittle h2 {
  width: 128px;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 13px;
}
.gallery .gallery-description p {
  width: 321px;
  height: 80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 13px;
}
.gallery .gallery-buttons {
  width: 351px;
  height: 56px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 13px;
  margin-top: 30px;
}
.gallery .gallery-buttons .gallery-buttons-demo {
  width: 135px;
  height: 46px;
  background: #2F80ED;
  border-radius: 12px;
  place-self: center stretch;
  display: grid;
}
.gallery .gallery-buttons .gallery-buttons-demo p {
  place-self: center;
  width: 57px;
  height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.gallery .gallery-buttons .gallery-buttons-code {
  width: 135px;
  height: 46px;
  border: 1px solid #2F80ED;
  box-sizing: border-box;
  border-radius: 12px;
  place-self: center stretch;
  display: grid;
}
.gallery .gallery-buttons .gallery-buttons-code p {
  place-self: center;
  width: 57px;
  height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2F80ED;
}

@media (min-width: 768px) {
  .gallery {
    margin: 0;
    width: 859px;
    height: 320px;
    background: #FFFFFF;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 330px auto;
    grid-template-rows: 10% 15% 20% 26%;
    column-gap: 20px;
    row-gap: 30px;
  }
  .gallery .gallery-image {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
  .gallery .gallery-image img {
    width: 322px;
    height: 274px;
    border-radius: 12px;
    grid-column: 1/2;
    grid-row: 1/5;
    justify-self: center;
    align-self: stretch;
    margin: 0;
    margin-top: 13px;
    margin-left: 13px;
  }
  .gallery .gallery-technology {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 100%;
  }
  .gallery .gallery-technology p {
    margin: 0;
  }
  .gallery .gallery-tittle {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 100%;
  }
  .gallery .gallery-tittle h2 {
    justify-self: start;
    align-self: center;
    margin: 0;
  }
  .gallery .gallery-description {
    width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 100%;
  }
  .gallery .gallery-description p {
    width: 100%;
    height: 100%;
    justify-self: start;
    align-self: center;
    margin: 0;
    padding-right: 13px;
  }
  .gallery .gallery-buttons {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 0;
    align-self: center;
    justify-self: center;
  }
}
@media (min-width: 768px) {
  .grid-page {
    display: grid;
    grid-template-columns: 500px 370px 496px;
    grid-template-rows: 350px 400px 100px 330px 250px;
  }
  .grid-page .infop {
    align-self: start;
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0;
  }
  .grid-page .gallery {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
  }
  .grid-page .skills {
    align-self: center;
    align-self: start;
  }
  .grid-page .skills-design {
    align-self: start;
    justify-self: end;
  }
  .grid-page .gallery-grid {
    grid-row: 3/5;
    align-self: center;
  }
  .grid-page .gallery-checkout {
    grid-row: 5/6;
    align-self: start;
  }
  .grid-page .experiencies {
    grid-column: 1/2;
    grid-row: 3/5;
    align-self: start;
    margin: 0;
  }
}
.skills {
  width: 355px;
  height: 284px;
  -webkit-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 12px;
  margin-top: 50px;
}
.skills .skills-tittle h2 {
  width: 113px;
  height: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4F4F4F;
  padding-top: 30px;
  margin-left: 13px;
}
.skills .skills-tech {
  width: 345px;
  height: 75%;
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 15px;
  margin-top: 20px;
}
.skills .skills-tech .tech {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
  align-self: center;
  margin-left: 13px;
}
.skills .skills-tech .ps {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #4F4F4F;
  align-self: center;
  margin-left: 13px;
}
.skills .skills-tech .barra {
  width: 222px;
  height: 9px;
  background: #C4C4C4;
  border-radius: 12px;
  align-self: center;
  display: grid;
}
.skills .skills-tech .barra .barra-react {
  width: 50px;
  height: 9px;
  background: #2F80ED;
  border-radius: 12px;
}
.skills .skills-tech .barra .barra-js {
  width: 126px;
  height: 9px;
  background: #2F80ED;
  border-radius: 12px;
}
.skills .skills-tech .barra .barra-css {
  width: 176px;
  height: 9px;
  background: #2F80ED;
  border-radius: 12px;
}
.skills .skills-tech .barra .barra-vue {
  width: 80px;
  height: 9px;
  background: #2F80ED;
  border-radius: 12px;
}
.skills .skills-tech .barra .barra-ps {
  width: 35px;
  height: 9px;
  background: #2F80ED;
  border-radius: 12px;
}
.skills .skills-tech .barra .barra-figma {
  width: 155px;
  height: 9px;
  background: #2F80ED;
  border-radius: 12px;
}

@media (min-width: 768px) {
  .skills {
    margin: 0;
  }

  .skills-design {
    width: 415.02px;
    height: 210px;
    background: #FFFFFF;
    border-radius: 12px;
  }
}
.experiencies {
  width: 355px;
  height: 662px;
  -webkit-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 12px 7px rgba(0, 0, 0, 0.75);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 12px;
  margin-top: 50px;
}
.experiencies .experiencies-tittle {
  width: 148px;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4F4F4F;
  margin-left: 13px;
  padding-top: 20px;
}
.experiencies .margen {
  margin-top: 30px;
  margin-left: 10px;
}
.experiencies .adidas,
.experiencies .hym,
.experiencies .nivea {
  width: 373px;
  height: 161px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 30% 65%;
  column-gap: 10px;
  padding-top: 40px;
}
.experiencies .adidas .imagen,
.experiencies .hym .imagen,
.experiencies .nivea .imagen {
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
}
.experiencies .adidas .imagen img,
.experiencies .hym .imagen img,
.experiencies .nivea .imagen img {
  align-self: center;
}
.experiencies .adidas .date,
.experiencies .hym .date,
.experiencies .nivea .date {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
}
.experiencies .adidas .date h3,
.experiencies .hym .date h3,
.experiencies .nivea .date h3 {
  width: 129px;
  height: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.experiencies .adidas .role,
.experiencies .hym .role,
.experiencies .nivea .role {
  align-self: start;
}
.experiencies .adidas .role h3,
.experiencies .hym .role h3,
.experiencies .nivea .role h3 {
  width: 170px;
  height: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.experiencies .adidas .Paragraph,
.experiencies .hym .Paragraph,
.experiencies .nivea .Paragraph {
  grid-column: 2/3;
  grid-row: 3/4;
}
.experiencies .adidas .Paragraph p,
.experiencies .hym .Paragraph p,
.experiencies .nivea .Paragraph p {
  width: 223px;
  height: 79px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

@media (min-width: 768px) {
  .experiencies {
    width: 413px;
    height: 690px;
  }
}

/*# sourceMappingURL=styles.css.map */
